BasedOnStyle: Chromium
ColumnLimit: 200
IndentWidth: 2
AccessModifierOffset: -2
Language: Cpp
Cpp11BracedListStyle: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: true
SpacesInParentheses: false
SpacesInSquareBrackets: true
IndentWrappedFunctionNames: true
SortIncludes: false
ReflowComments: false
SortUsingDeclarations: false
BreakBeforeBraces: Allman
IndentCaseLabels: true
NamespaceIndentation: All
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: None